.prestigeForgeBase {
    flex-grow: 1;
    background-image: url("project://database/Assets/art/UI/iron/forgeUI.png?fileID=2800000&guid=b21c0c4bd60fc2c439317bfc66cffafa&type=3#forgeUI");
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.prestigeUITrans {
    translate: 0 900px;
}
