# =====================
# Unity
# =====================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# =====================
# IDE
# =====================
.vs/
.idea/
.vscode/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Builds
# =====================
*.apk
*.aab
*.log

# =====================
# Safety (Unity)
# =====================
!*.meta