VisualElement {
}

.BuyBorder {
    flex-grow: 0;
    border-left-color: rgb(157, 116, 0);
    border-right-color: rgb(157, 116, 0);
    border-top-color: rgb(157, 116, 0);
    border-bottom-color: rgb(157, 116, 0);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    align-self: center;
    height: 15%;
    width: 100%;
    margin-top: 7.5%;
}

.BuyBorderDescription {
    position: absolute;
    height: 104px;
    width: 331px;
    top: 17px;
    left: 28px;
    white-space: normal;
    color: rgb(255, 255, 255);
    font-size: 20px;
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/art/UI/font/Marker%20Felt.ttf?fileID=12800000&guid=f2c8ac68c8499db40a2cc326aae92b8e&type=3#Marker Felt");
}

.BuyBorderBuy {
    position: absolute;
    height: 50%;
    width: 25%;
    top: 25%;
    left: 70%;
    border-left-color: rgb(255, 238, 0);
    border-right-color: rgb(255, 238, 0);
    border-top-color: rgb(255, 238, 0);
    border-bottom-color: rgb(255, 238, 0);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(188, 188, 188, 0);
    color: rgb(255, 255, 255);
    font-size: 22px;
    -unity-font-style: bold;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    -unity-text-align: middle-center;
    flex-direction: row-reverse;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.unity-button__image {
    width: 25%;
    aspect-ratio: 1;
    padding-left: 0;
    margin-left: 5%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}
